In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
import warnings
warnings.filterwarnings('ignore')

In [2]:
gold = pd.read_csv('Gold.csv')

In [3]:
from prophet import Prophet

In [4]:
gold

            date    price
0     2016-01-01  2252.60
1     2016-01-02  2454.50
2     2016-01-03  2708.10
3     2016-01-04  2577.80
4     2016-01-05  2597.75
...          ...      ...
2177  2021-12-17  4394.40
2178  2021-12-18  4389.50
2179  2021-12-19  4389.50
2180  2021-12-20  4354.10
2181  2021-12-21  4346.50

[2182 rows x 2 columns]

In [5]:
gold.columns = ["ds","y"]

In [6]:
model = Prophet()
model.fit(gold)

21:00:46 - cmdstanpy - INFO - Chain [1] start processing
21:00:47 - cmdstanpy - INFO - Chain [1] done processing

In [7]:
future = model.make_future_dataframe(periods= 365, freq='d')
future

             ds
0    2016-01-01
1    2016-01-02
2    2016-01-03
3    2016-01-04
4    2016-01-05
...         ...
2542 2022-12-17
2543 2022-12-18
2544 2022-12-19
2545 2022-12-20
2546 2022-12-21

[2547 rows x 1 columns]

In [8]:
input_data = pd.DataFrame({'ds': ['2023-01-21']})
input_data

           ds
0  2023-01-21

In [9]:
forecast = model.predict(input_data)

In [10]:
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2023-01-21,4165.700109,3925.861363,4377.299148,4165.700109,4165.700109,-9.009939,-9.009939,-9.009939,1.16149,1.16149,1.16149,-10.171429,-10.171429,-10.171429,0.0,0.0,0.0,4156.690171

In [11]:
import pickle

In [12]:
with open("p_model", "wb") as f:
    pickle.dump(model, f)